@import "tailwindcss";

@font-face {

    font-family: 'Montserrat';
    src: url('../public//assets/fonts/montserrat-alternates/montserratalternates-medium.ttf') format('truetype');
}

@theme {
    --font-montserat: "Montserrat";
}

@plugin "daisyui" {
    themes: night --default;
}